!.gitignore
!.mailmap
*.beam
*.diff
*.exe
*.gz
*.la
*.lo
*.o
*.obj
*.orig
*.pyc
*.rej
*.stamp
*.sw*
*.tpl
*~
.*
!.gitattributes
INSTALL
Makefile.in
THANKS

__pycache__
b
src
rel/apache-couchdb

# rebar
support/rebar/rebar
support/rebar/inttest/rt.work
rt.work
rebar
rebar.cmd
support/rebar/.test

# couch_collate
deps/couch_collate/ebin
deps/couch_collate/priv
deps/couch_collate/c_src/*.o
deps/couch_collate/.libs
deps/couch_collate/.dists

deps/couch/ebin
deps/couch_replicator/ebin
deps/couch_mrview/ebin
deps/couch_index/ebin
deps/couch_dbupdates/ebin
deps/couch_plugins/ebin
deps/couch_rel/ebin/*.beam

# couchjs
deps/couch/c_src/couch_js/*.o
deps/couch/c_src/couch_js/config.h
deps/couch/priv/couchjs
deps/couch/c_src/spawnkillable/*.o
deps/couch/priv/couchspawnkillable
deps/couch/.libs
deps/couch/.dists

share/server/main-coffee.js
share/server/main.js

test/etap/test_cfg_register
test/out
test/etap/*.beam
test/etap/*.o
test/etap/temp.*

share/doc/build
/log
