!.gitignore
!.mailmap
*.beam
*.diff
*.gz
*.la
*.lo
*.o
*.orig
*.pyc
*.rej
*.stamp
*.sw*
*.tpl
*~
.*
INSTALL
Makefile.in
THANKS

__pycache__
b
deps
rel/apache-couchdb

# rebar
support/rebar/rebar
support/rebar/inttest/rt.work
rt.work
rebar
support/rebar/.test

# couch_collate
apps/couch_collate/ebin
apps/couch_collate/priv
apps/couch_collate/c_src/*.o
apps/couch_collate/.libs
apps/couch_collate/.dists

apps/couch/ebin
apps/couch_replicator/ebin
apps/couch_mrview/ebin
apps/couch_index/ebin
apps/couch_dbupdates/ebin
apps/couch_plugins/ebin
apps/couch_rel/ebin/*.beam

# couchjs
apps/couch/c_src/couch_js/*.o
apps/couch/c_src/couch_js/config.h
apps/couch/priv/couchjs
apps/couch/c_src/spawnkillable/*.o
apps/couch/priv/couchspawnkillable
apps/couch/.libs
apps/couch/.dists

share/server/main-coffee.js
share/server/main.js

test/etap/test_cfg_register
test/out
test/etap/*.beam
test/etap/*.o
test/etap/temp.*

share/doc/build
