%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R14B04|R15|R16"}.

{deps, [
    %% packaging
    {node_package, ".*", {git, "git://github.com/basho/node_package",
                         {tag, "1.3.8"}}},

    %% erlang oauth module
    {oauth, ".*",
     {git, "http://git-wip-us.apache.org/repos/asf/couchdb-oauth.git",
      {branch, "import"}}},

    %% ibrowse module , http client
    {ibrowse, ".*",
     {git, "http://git-wip-us.apache.org/repos/asf/couchdb-ibrowse.git",
      {branch, "import"}}},

    %% mochiweb module, http framework
    {mochiweb, ".*",
     {git,"http://git-wip-us.apache.org/repos/asf/couchdb-mochiweb.git",
      {branch, "import-upstream"}}},

    %% snappy module, used for compression
    {snappy, ".*",
     {git, "http://git-wip-us.apache.org/repos/asf/couchdb-snappy.git",
      {branch, "import"}}},

    %% json module, encode/decode module
    {jiffy, ".*",
        {git, "http://git-wip-us.apache.org/repos/asf/couchdb-jiffy.git",
         {branch, "import"}}},

    %% lager logging module
    {lager, ".*",
     {git, "http://git-wip-us.apache.org/repos/asf/couchdb-lager.git",
      {branch, "master"}}},


     %% apps
     {couch_collate, ".*",
      {git,"http://git-wip-us.apache.org/repos/asf/couchdb-couch-collate.git",
       {branch, "1994-merge-rcouch"}}},

     {couch, ".*",
      {git, "http://git-wip-us.apache.org/repos/asf/couchdb-couch.git",
       {branch, "1994-merge-rcouch"}}},

    {couch_httpd, ".*",
      {git, "http://git-wip-us.apache.org/repos/asf/couchdb-couch-httpd.git",
       {branch, "1994-merge-rcouch"}}},

    {couch_index, ".*",
      {git, "http://git-wip-us.apache.org/repos/asf/couchdb-couch-index.git",
       {branch, "1994-merge-rcouch"}}},

    {couch_mrview, ".*",
      {git, "http://git-wip-us.apache.org/repos/asf/couchdb-couch-mrview.git",
       {branch, "1994-merge-rcouch"}}},

    {couch_replicator, ".*",
      {git, "http://git-wip-us.apache.org/repos/asf/couchdb-couch-replicator.git",
       {branch, "1994-merge-rcouch"}}},

     {couch_plugins, ".*",
      {git, "http://git-wip-us.apache.org/repos/asf/couchdb-couch-plugins.git",
       {branch, "1994-merge-rcouch"}}},

     {couch_dbupdates, ".*",
      {git, "http://git-wip-us.apache.org/repos/asf/couchdb-couch-dbupdates.git",
       {branch, "1994-merge-rcouch"}}}

]}.


{deps_dir, ["deps"]}.

{libs_dir, ["deps/"]}.

{sub_dirs, [
    "support/couch_rel",
    "rel"
]}.

{post_hooks, [{compile, "escript support/build_js.escript"}]}.
